default/s3connectloadsnow.json
{
  "externalControllerServices" : { },
  "flow" : {
    "createdTimestamp" : 1753455968640,
    "description" : "",
    "identifier" : "s3connectloadsnow",
    "lastModifiedTimestamp" : 1753455968640,
    "name" : "s3_connect_load_snow",
    "versionCount" : 0
  },
  "flowContents" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "dc074388-3190-35cf-9854-e9c1b370e0d3",
        "name" : "FetchS3Object",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "10f32bf2-f0f4-34f5-ae81-a3c40887471d",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "8fb61a37-beb1-3b3c-ac29-5c65b7a807d1",
        "name" : "ListS3",
        "type" : "PROCESSOR"
      },
      "zIndex" : 1
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "f91bca02-e793-364a-9aac-8519c5291099",
        "name" : "Create CSV Table",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "643361cb-1d8e-3651-af83-4c07f14881b5",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "csvFILES" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "a4510b98-dc03-3ec5-830b-b2435695f16d",
        "name" : "RouteOnAttribute",
        "type" : "PROCESSOR"
      },
      "zIndex" : 16
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : 893.0,
        "y" : 847.0
      }, {
        "x" : 893.0,
        "y" : 897.0
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "f0b0daea-e90c-3db5-8a7b-21c5264269c5",
        "name" : "PutSnowpipeStreaming",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "7640616e-86a7-36d9-a0d1-d103b569fdf2",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "f0b0daea-e90c-3db5-8a7b-21c5264269c5",
        "name" : "PutSnowpipeStreaming",
        "type" : "PROCESSOR"
      },
      "zIndex" : 14
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "c8693f05-6e29-3bfe-8203-ae7c76658107",
        "name" : "Create Table",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "87e1f016-ee5a-318b-b51d-5d530f471c7c",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "jsonFiles" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "a4510b98-dc03-3ec5-830b-b2435695f16d",
        "name" : "RouteOnAttribute",
        "type" : "PROCESSOR"
      },
      "zIndex" : 9
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "a4510b98-dc03-3ec5-830b-b2435695f16d",
        "name" : "RouteOnAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "8f1283c6-b5fc-3438-810f-4b717d045ace",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "Response" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "35daf5c0-32e5-3260-bfa0-8510d6922a1a",
        "name" : "InvokeHTTP",
        "type" : "PROCESSOR"
      },
      "zIndex" : 15
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "a4510b98-dc03-3ec5-830b-b2435695f16d",
        "name" : "RouteOnAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "9c9574f2-e338-3f52-ae85-de5810905809",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "dc074388-3190-35cf-9854-e9c1b370e0d3",
        "name" : "FetchS3Object",
        "type" : "PROCESSOR"
      },
      "zIndex" : 2
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : 112.0,
        "y" : 143.0
      }, {
        "x" : 112.0,
        "y" : 193.0
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "dc074388-3190-35cf-9854-e9c1b370e0d3",
        "name" : "FetchS3Object",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "9f47b574-0a6d-3f16-92d1-8cd90757fd1b",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "dc074388-3190-35cf-9854-e9c1b370e0d3",
        "name" : "FetchS3Object",
        "type" : "PROCESSOR"
      },
      "zIndex" : 3
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : 857.600341796875,
        "y" : 615.0
      }, {
        "x" : 857.600341796875,
        "y" : 665.0
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "f91bca02-e793-364a-9aac-8519c5291099",
        "name" : "Create CSV Table",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "a09c2213-becf-353b-bf95-640b85c0523b",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "f91bca02-e793-364a-9aac-8519c5291099",
        "name" : "Create CSV Table",
        "type" : "PROCESSOR"
      },
      "zIndex" : 13
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "6cf4be61-0ff5-30db-81ad-53e947fa6c9d",
        "name" : "LogAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "a11be81d-c52a-3523-9bdd-82d7f2449a3e",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "95745bdb-0376-35b4-a007-f8ce9f12790e",
        "name" : "PutSnowpipeStreaming",
        "type" : "PROCESSOR"
      },
      "zIndex" : 8
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : 217.56555148618384,
        "y" : 870.2048818707059
      }, {
        "x" : 217.56555148618384,
        "y" : 920.2048818707059
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "95745bdb-0376-35b4-a007-f8ce9f12790e",
        "name" : "PutSnowpipeStreaming",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "ab9dd238-eb75-3bbf-8270-8d723cee098d",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "95745bdb-0376-35b4-a007-f8ce9f12790e",
        "name" : "PutSnowpipeStreaming",
        "type" : "PROCESSOR"
      },
      "zIndex" : 7
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "f0b0daea-e90c-3db5-8a7b-21c5264269c5",
        "name" : "PutSnowpipeStreaming",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "db1da9aa-763a-3442-b088-623b4d6207ed",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "f91bca02-e793-364a-9aac-8519c5291099",
        "name" : "Create CSV Table",
        "type" : "PROCESSOR"
      },
      "zIndex" : 12
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "95745bdb-0376-35b4-a007-f8ce9f12790e",
        "name" : "PutSnowpipeStreaming",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "e15ebb98-80f0-36e1-9e8f-d0501636b47b",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "c8693f05-6e29-3bfe-8203-ae7c76658107",
        "name" : "Create Table",
        "type" : "PROCESSOR"
      },
      "zIndex" : 6
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : 155.71345729609158,
        "y" : 602.686729768476
      }, {
        "x" : 155.71345729609158,
        "y" : 652.686729768476
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "c8693f05-6e29-3bfe-8203-ae7c76658107",
        "name" : "Create Table",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "ed127403-2896-3f3e-8678-107418cdf709",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "c8693f05-6e29-3bfe-8203-ae7c76658107",
        "name" : "Create Table",
        "type" : "PROCESSOR"
      },
      "zIndex" : 5
    } ],
    "controllerServices" : [ {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-key-service-nar",
        "group" : "org.apache.nifi",
        "version" : "2025.7.15.16"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2025.7.15.16"
        },
        "type" : "org.apache.nifi.key.service.api.PrivateKeyService"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "03717487-c630-32c8-8917-7cc5563f81c5",
      "name" : "StandardPrivateKeyService",
      "properties" : { },
      "propertyDescriptors" : {
        "key-password" : {
          "displayName" : "Key Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "key-password",
          "sensitive" : true
        },
        "key-file" : {
          "displayName" : "Key File",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "key-file",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE" ]
          },
          "sensitive" : false
        },
        "key" : {
          "displayName" : "Key",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "key",
          "sensitive" : true
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.key.service.StandardPrivateKeyService"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2025.7.15.16"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2025.7.15.16"
        },
        "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "0b538779-324e-3f49-a6dd-d7cee999467a",
      "name" : "JsonRecordSetWriter",
      "properties" : {
        "Allow Scientific Notation" : "false",
        "compression-level" : "1",
        "Pretty Print JSON" : "false",
        "compression-format" : "none",
        "Schema Write Strategy" : "no-schema",
        "suppress-nulls" : "never-suppress",
        "output-grouping" : "output-array",
        "schema-name" : "${schema.name}",
        "schema-access-strategy" : "inherit-record-schema",
        "schema-text" : "${avro.schema}"
      },
      "propertyDescriptors" : {
        "schema-reference-reader" : {
          "displayName" : "Schema Reference Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-reference-reader",
          "sensitive" : false
        },
        "schema-branch" : {
          "displayName" : "Schema Branch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-branch",
          "sensitive" : false
        },
        "Allow Scientific Notation" : {
          "displayName" : "Allow Scientific Notation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Allow Scientific Notation",
          "sensitive" : false
        },
        "compression-level" : {
          "displayName" : "Compression Level",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "compression-level",
          "sensitive" : false
        },
        "schema-cache" : {
          "displayName" : "Schema Cache",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-cache",
          "sensitive" : false
        },
        "Timestamp Format" : {
          "displayName" : "Timestamp Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Timestamp Format",
          "sensitive" : false
        },
        "Date Format" : {
          "displayName" : "Date Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Date Format",
          "sensitive" : false
        },
        "Pretty Print JSON" : {
          "displayName" : "Pretty Print JSON",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Pretty Print JSON",
          "sensitive" : false
        },
        "compression-format" : {
          "displayName" : "Compression Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "compression-format",
          "sensitive" : false
        },
        "Schema Write Strategy" : {
          "displayName" : "Schema Write Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Write Strategy",
          "sensitive" : false
        },
        "suppress-nulls" : {
          "displayName" : "Suppress Null Values",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "suppress-nulls",
          "sensitive" : false
        },
        "output-grouping" : {
          "displayName" : "Output Grouping",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "output-grouping",
          "sensitive" : false
        },
        "schema-name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-name",
          "sensitive" : false
        },
        "schema-registry" : {
          "displayName" : "Schema Registry",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-registry",
          "sensitive" : false
        },
        "Time Format" : {
          "displayName" : "Time Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Time Format",
          "sensitive" : false
        },
        "schema-access-strategy" : {
          "displayName" : "Schema Access Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-access-strategy",
          "sensitive" : false
        },
        "schema-version" : {
          "displayName" : "Schema Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-version",
          "sensitive" : false
        },
        "schema-text" : {
          "displayName" : "Schema Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-text",
          "sensitive" : false
        },
        "Schema Reference Writer" : {
          "displayName" : "Schema Reference Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Schema Reference Writer",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.json.JsonRecordSetWriter"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2025.7.15.16"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2025.7.15.16"
        },
        "type" : "org.apache.nifi.serialization.RecordReaderFactory"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "ac5223df-8cde-3e45-9fe9-db3070b4e585",
      "name" : "JsonTreeReader",
      "properties" : {
        "Max String Length" : "20 MB",
        "schema-application-strategy" : "SELECTED_PART",
        "schema-name" : "${schema.name}",
        "starting-field-strategy" : "NESTED_FIELD",
        "starting-field-name" : "Document",
        "schema-access-strategy" : "infer-schema",
        "schema-text" : "${avro.schema}",
        "Allow Comments" : "false"
      },
      "propertyDescriptors" : {
        "schema-reference-reader" : {
          "displayName" : "Schema Reference Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-reference-reader",
          "sensitive" : false
        },
        "schema-branch" : {
          "displayName" : "Schema Branch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-branch",
          "sensitive" : false
        },
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "schema-application-strategy" : {
          "displayName" : "Schema Application Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-application-strategy",
          "sensitive" : false
        },
        "Timestamp Format" : {
          "displayName" : "Timestamp Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Timestamp Format",
          "sensitive" : false
        },
        "schema-inference-cache" : {
          "displayName" : "Schema Inference Cache",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-inference-cache",
          "sensitive" : false
        },
        "Date Format" : {
          "displayName" : "Date Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Date Format",
          "sensitive" : false
        },
        "schema-name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-name",
          "sensitive" : false
        },
        "starting-field-strategy" : {
          "displayName" : "Starting Field Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "starting-field-strategy",
          "sensitive" : false
        },
        "schema-registry" : {
          "displayName" : "Schema Registry",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-registry",
          "sensitive" : false
        },
        "starting-field-name" : {
          "displayName" : "Starting Field Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "starting-field-name",
          "sensitive" : false
        },
        "Time Format" : {
          "displayName" : "Time Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Time Format",
          "sensitive" : false
        },
        "schema-access-strategy" : {
          "displayName" : "Schema Access Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-access-strategy",
          "sensitive" : false
        },
        "schema-version" : {
          "displayName" : "Schema Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-version",
          "sensitive" : false
        },
        "schema-text" : {
          "displayName" : "Schema Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-text",
          "sensitive" : false
        },
        "Allow Comments" : {
          "displayName" : "Allow Comments",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Allow Comments",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.json.JsonTreeReader"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-aws-nar",
        "group" : "org.apache.nifi",
        "version" : "2025.7.15.16"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-aws-service-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2025.7.15.16"
        },
        "type" : "org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService"
      }, {
        "bundle" : {
          "artifact" : "nifi-aws-service-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2025.7.15.16"
        },
        "type" : "org.apache.nifi.processors.aws.credentials.provider.AwsCredentialsProviderService"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "dd32ac99-4c32-37d5-b836-95e7d11b7f5f",
      "name" : "AWSCredentialsProviderControllerService",
      "properties" : {
        "default-credentials" : "false",
        "Session Time" : "3600",
        "assume-role-sts-signer-override" : "Default Signature",
        "assume-role-sts-region" : "us-west-2",
        "anonymous-credentials" : "false"
      },
      "propertyDescriptors" : {
        "profile-name" : {
          "displayName" : "Profile Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "profile-name",
          "sensitive" : false
        },
        "Access Key" : {
          "displayName" : "Access Key ID",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Access Key",
          "sensitive" : true
        },
        "assume-role-proxy-configuration-service" : {
          "displayName" : "Assume Role Proxy Configuration Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "assume-role-proxy-configuration-service",
          "sensitive" : false
        },
        "default-credentials" : {
          "displayName" : "Use Default Credentials",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "default-credentials",
          "sensitive" : false
        },
        "Session Time" : {
          "displayName" : "Assume Role Session Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Session Time",
          "sensitive" : false
        },
        "assume-role-ssl-context-service" : {
          "displayName" : "Assume Role SSL Context Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "assume-role-ssl-context-service",
          "sensitive" : false
        },
        "assume-role-sts-signer-override" : {
          "displayName" : "Assume Role STS Signer Override",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "assume-role-sts-signer-override",
          "sensitive" : false
        },
        "custom-signer-class-name" : {
          "displayName" : "Custom Signer Class Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "custom-signer-class-name",
          "sensitive" : false
        },
        "Assume Role ARN" : {
          "displayName" : "Assume Role ARN",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Assume Role ARN",
          "sensitive" : false
        },
        "custom-signer-module-location" : {
          "displayName" : "Custom Signer Module Location",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "custom-signer-module-location",
          "resourceDefinition" : {
            "cardinality" : "MULTIPLE",
            "resourceTypes" : [ "DIRECTORY", "FILE" ]
          },
          "sensitive" : false
        },
        "Assume Role Session Name" : {
          "displayName" : "Assume Role Session Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Assume Role Session Name",
          "sensitive" : false
        },
        "assume-role-sts-endpoint" : {
          "displayName" : "Assume Role STS Endpoint Override",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "assume-role-sts-endpoint",
          "sensitive" : false
        },
        "assume-role-sts-region" : {
          "displayName" : "Assume Role STS Region",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "assume-role-sts-region",
          "sensitive" : false
        },
        "Secret Key" : {
          "displayName" : "Secret Access Key",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Secret Key",
          "sensitive" : true
        },
        "Credentials File" : {
          "displayName" : "Credentials File",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Credentials File",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE" ]
          },
          "sensitive" : false
        },
        "assume-role-external-id" : {
          "displayName" : "Assume Role External ID",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "assume-role-external-id",
          "sensitive" : false
        },
        "anonymous-credentials" : {
          "displayName" : "Use Anonymous Credentials",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "anonymous-credentials",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderControllerService"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "runtime-snowflake-connection-service-nar",
        "group" : "com.snowflake.openflow.runtime",
        "version" : "2025.7.15.16"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2025.7.15.16"
        },
        "type" : "org.apache.nifi.dbcp.DBCPService"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "dd79397d-0f5c-33b8-af7f-bd3e3809c994",
      "name" : "SnowflakeConnectionService",
      "properties" : {
        "Account" : "SFSENORTHAMERICA-SGOPE_AWS1",
        "Warehouse" : "openflow_wh",
        "User" : "openflow_svc",
        "Maximum Connections" : "10",
        "Maximum Lifetime" : "30 minutes",
        "Schema" : "S3_LOAD",
        "Private Key Service" : "03717487-c630-32c8-8917-7cc5563f81c5",
        "Connection Strategy" : "STANDARD",
        "Connection Timeout" : "30 seconds",
        "Role" : "openflow_role_rw",
        "Idle Timeout" : "10 minutes",
        "Authentication Strategy" : "KEY_PAIR",
        "Database Name" : "openflow_load"
      },
      "propertyDescriptors" : {
        "Account" : {
          "displayName" : "Account",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Account",
          "sensitive" : false
        },
        "Warehouse" : {
          "displayName" : "Warehouse",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Warehouse",
          "sensitive" : false
        },
        "User" : {
          "displayName" : "User",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "User",
          "sensitive" : false
        },
        "Maximum Connections" : {
          "displayName" : "Maximum Connections",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum Connections",
          "sensitive" : false
        },
        "Maximum Lifetime" : {
          "displayName" : "Maximum Lifetime",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum Lifetime",
          "sensitive" : false
        },
        "Schema" : {
          "displayName" : "Schema",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema",
          "sensitive" : false
        },
        "Private Key Service" : {
          "displayName" : "Private Key Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Private Key Service",
          "sensitive" : false
        },
        "Connection Strategy" : {
          "displayName" : "Connection Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Connection Strategy",
          "sensitive" : false
        },
        "Connection Timeout" : {
          "displayName" : "Connection Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Connection Timeout",
          "sensitive" : false
        },
        "Role" : {
          "displayName" : "Role",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Role",
          "sensitive" : false
        },
        "Idle Timeout" : {
          "displayName" : "Idle Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Idle Timeout",
          "sensitive" : false
        },
        "Authentication Strategy" : {
          "displayName" : "Authentication Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Authentication Strategy",
          "sensitive" : false
        },
        "Database Name" : {
          "displayName" : "Database Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database Name",
          "sensitive" : false
        },
        "Password" : {
          "displayName" : "Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Password",
          "sensitive" : true
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "com.snowflake.openflow.runtime.services.snowflake.SnowflakeConnectionService"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2025.7.15.16"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2025.7.15.16"
        },
        "type" : "org.apache.nifi.serialization.RecordReaderFactory"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "eb99bc03-1842-3f31-a5a7-adc0f8603d83",
      "name" : "CSVReader",
      "properties" : {
        "ignore-csv-header" : "false",
        "Trim double quote" : "true",
        "CSV Format" : "custom",
        "Quote Character" : "\"",
        "csvutils-allow-duplicate-header-names" : "true",
        "Value Separator" : ",",
        "Record Separator" : "\\n",
        "Escape Character" : "\\",
        "Skip Header Line" : "false",
        "Trim Fields" : "true",
        "schema-name" : "${schema.name}",
        "csv-reader-csv-parser" : "commons-csv",
        "schema-access-strategy" : "csv-header-derived",
        "csvutils-character-set" : "UTF-8",
        "schema-text" : "${avro.schema}"
      },
      "propertyDescriptors" : {
        "schema-reference-reader" : {
          "displayName" : "Schema Reference Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-reference-reader",
          "sensitive" : false
        },
        "ignore-csv-header" : {
          "displayName" : "Ignore CSV Header Column Names",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "ignore-csv-header",
          "sensitive" : false
        },
        "schema-branch" : {
          "displayName" : "Schema Branch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-branch",
          "sensitive" : false
        },
        "Trim double quote" : {
          "displayName" : "Trim double quote",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Trim double quote",
          "sensitive" : false
        },
        "CSV Format" : {
          "displayName" : "CSV Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "CSV Format",
          "sensitive" : false
        },
        "Quote Character" : {
          "displayName" : "Quote Character",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Quote Character",
          "sensitive" : false
        },
        "csvutils-allow-duplicate-header-names" : {
          "displayName" : "Allow Duplicate Header Names",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "csvutils-allow-duplicate-header-names",
          "sensitive" : false
        },
        "Value Separator" : {
          "displayName" : "Value Separator",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Value Separator",
          "sensitive" : false
        },
        "Record Separator" : {
          "displayName" : "Record Separator",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Record Separator",
          "sensitive" : false
        },
        "Timestamp Format" : {
          "displayName" : "Timestamp Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Timestamp Format",
          "sensitive" : false
        },
        "Escape Character" : {
          "displayName" : "Escape Character",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Escape Character",
          "sensitive" : false
        },
        "Date Format" : {
          "displayName" : "Date Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Date Format",
          "sensitive" : false
        },
        "Null String" : {
          "displayName" : "Null String",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Null String",
          "sensitive" : false
        },
        "Skip Header Line" : {
          "displayName" : "Treat First Line as Header",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Skip Header Line",
          "sensitive" : false
        },
        "Trim Fields" : {
          "displayName" : "Trim Fields",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Trim Fields",
          "sensitive" : false
        },
        "schema-name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-name",
          "sensitive" : false
        },
        "schema-registry" : {
          "displayName" : "Schema Registry",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-registry",
          "sensitive" : false
        },
        "csv-reader-csv-parser" : {
          "displayName" : "CSV Parser",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "csv-reader-csv-parser",
          "sensitive" : false
        },
        "Time Format" : {
          "displayName" : "Time Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Time Format",
          "sensitive" : false
        },
        "Comment Marker" : {
          "displayName" : "Comment Marker",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Comment Marker",
          "sensitive" : false
        },
        "schema-access-strategy" : {
          "displayName" : "Schema Access Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-access-strategy",
          "sensitive" : false
        },
        "schema-version" : {
          "displayName" : "Schema Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-version",
          "sensitive" : false
        },
        "csvutils-character-set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "csvutils-character-set",
          "sensitive" : false
        },
        "schema-text" : {
          "displayName" : "Schema Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-text",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.csv.CSVReader"
    } ],
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultFlowFileExpiration" : "0 sec",
    "executionEngine" : "INHERITED",
    "externalControllerServiceReferences" : { },
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "funnels" : [ ],
    "identifier" : "flow-contents-group",
    "inputPorts" : [ ],
    "labels" : [ ],
    "maxConcurrentTasks" : 1,
    "name" : "Connect S3 and Load Snow",
    "outputPorts" : [ ],
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "processGroups" : [ ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2025.7.15.16"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "265f0834-548b-335e-aa20-d89aee4726ee",
      "maxBackoffPeriod" : "10 mins",
      "name" : "ConvertRecord",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -808.0,
        "y" : 408.0
      },
      "properties" : {
        "Include Zero Record FlowFiles" : "true"
      },
      "propertyDescriptors" : {
        "Include Zero Record FlowFiles" : {
          "displayName" : "Include Zero Record FlowFiles",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Include Zero Record FlowFiles",
          "sensitive" : false
        },
        "Record Writer" : {
          "displayName" : "Record Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Record Writer",
          "sensitive" : false
        },
        "Record Reader" : {
          "displayName" : "Record Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Record Reader",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ConvertRecord",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-cipher-nar",
        "group" : "org.apache.nifi",
        "version" : "2025.7.15.16"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "2bacd73d-9e6d-3e02-b09c-f3ace97e0370",
      "maxBackoffPeriod" : "10 mins",
      "name" : "EncryptContentAge",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 360.0,
        "y" : -152.0
      },
      "properties" : {
        "Public Key Source" : "PROPERTIES",
        "File Encoding" : "BINARY"
      },
      "propertyDescriptors" : {
        "Public Key Recipients" : {
          "displayName" : "Public Key Recipients",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Public Key Recipients",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "TEXT" ]
          },
          "sensitive" : true
        },
        "Public Key Recipient Resources" : {
          "displayName" : "Public Key Recipient Resources",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Public Key Recipient Resources",
          "resourceDefinition" : {
            "cardinality" : "MULTIPLE",
            "resourceTypes" : [ "FILE", "URL" ]
          },
          "sensitive" : false
        },
        "Public Key Source" : {
          "displayName" : "Public Key Source",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Public Key Source",
          "sensitive" : false
        },
        "File Encoding" : {
          "displayName" : "File Encoding",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "File Encoding",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.cipher.EncryptContentAge",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2025.7.15.16"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "35daf5c0-32e5-3260-bfa0-8510d6922a1a",
      "maxBackoffPeriod" : "10 mins",
      "name" : "InvokeHTTP",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -848.0,
        "y" : -168.0
      },
      "properties" : {
        "Request Content-Encoding" : "DISABLED",
        "Request Multipart Form-Data Filename Enabled" : "true",
        "Request Chunked Transfer-Encoding Enabled" : "false",
        "HTTP/2 Disabled" : "False",
        "Connection Timeout" : "5 secs",
        "Response Cookie Strategy" : "DISABLED",
        "Socket Read Timeout" : "15 secs",
        "Socket Idle Connections" : "5",
        "Request Body Enabled" : "true",
        "OAuth2 Access Token Refresh Strategy" : "ON_TOKEN_EXPIRATION",
        "Socket Idle Timeout" : "5 mins",
        "Response Redirects Enabled" : "True",
        "Socket Write Timeout" : "15 secs",
        "Response FlowFile Naming Strategy" : "RANDOM",
        "Response Cache Enabled" : "false",
        "Request Date Header Enabled" : "True",
        "Request Failure Penalization Enabled" : "false",
        "Response Body Attribute Size" : "256",
        "Response Generation Required" : "false",
        "Response Header Request Attributes Enabled" : "false",
        "HTTP Method" : "GET",
        "Request Content-Type" : "${mime.type}",
        "Request Digest Authentication Enabled" : "false",
        "Response Cache Size" : "10MB",
        "Response Body Ignored" : "false"
      },
      "propertyDescriptors" : {
        "Request Content-Encoding" : {
          "displayName" : "Request Content-Encoding",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Content-Encoding",
          "sensitive" : false
        },
        "proxy-configuration-service" : {
          "displayName" : "Proxy Configuration Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "proxy-configuration-service",
          "sensitive" : false
        },
        "Request Multipart Form-Data Filename Enabled" : {
          "displayName" : "Request Multipart Form-Data Filename Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Multipart Form-Data Filename Enabled",
          "sensitive" : false
        },
        "Request Chunked Transfer-Encoding Enabled" : {
          "displayName" : "Request Chunked Transfer-Encoding Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Chunked Transfer-Encoding Enabled",
          "sensitive" : false
        },
        "Response Header Request Attributes Prefix" : {
          "displayName" : "Response Header Request Attributes Prefix",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Header Request Attributes Prefix",
          "sensitive" : false
        },
        "HTTP/2 Disabled" : {
          "displayName" : "HTTP/2 Disabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "HTTP/2 Disabled",
          "sensitive" : false
        },
        "Connection Timeout" : {
          "displayName" : "Connection Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Connection Timeout",
          "sensitive" : false
        },
        "Response Cookie Strategy" : {
          "displayName" : "Response Cookie Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Cookie Strategy",
          "sensitive" : false
        },
        "Request Password" : {
          "displayName" : "Request Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Password",
          "sensitive" : true
        },
        "Socket Read Timeout" : {
          "displayName" : "Socket Read Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Socket Read Timeout",
          "sensitive" : false
        },
        "Socket Idle Connections" : {
          "displayName" : "Socket Idle Connections",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Socket Idle Connections",
          "sensitive" : false
        },
        "Request Body Enabled" : {
          "displayName" : "Request Body Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Body Enabled",
          "sensitive" : false
        },
        "OAuth2 Access Token Refresh Strategy" : {
          "displayName" : "OAuth2 Access Token Refresh Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "OAuth2 Access Token Refresh Strategy",
          "sensitive" : false
        },
        "HTTP URL" : {
          "displayName" : "HTTP URL",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "HTTP URL",
          "sensitive" : false
        },
        "Request OAuth2 Access Token Provider" : {
          "displayName" : "Request OAuth2 Access Token Provider",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Request OAuth2 Access Token Provider",
          "sensitive" : false
        },
        "Socket Idle Timeout" : {
          "displayName" : "Socket Idle Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Socket Idle Timeout",
          "sensitive" : false
        },
        "Response Redirects Enabled" : {
          "displayName" : "Response Redirects Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Redirects Enabled",
          "sensitive" : false
        },
        "Socket Write Timeout" : {
          "displayName" : "Socket Write Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Socket Write Timeout",
          "sensitive" : false
        },
        "Request Header Attributes Pattern" : {
          "displayName" : "Request Header Attributes Pattern",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Header Attributes Pattern",
          "sensitive" : false
        },
        "Response FlowFile Naming Strategy" : {
          "displayName" : "Response FlowFile Naming Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response FlowFile Naming Strategy",
          "sensitive" : false
        },
        "Response Cache Enabled" : {
          "displayName" : "Response Cache Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Cache Enabled",
          "sensitive" : false
        },
        "Request Date Header Enabled" : {
          "displayName" : "Request Date Header Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Date Header Enabled",
          "sensitive" : false
        },
        "Request Failure Penalization Enabled" : {
          "displayName" : "Request Failure Penalization Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Failure Penalization Enabled",
          "sensitive" : false
        },
        "Response Body Attribute Size" : {
          "displayName" : "Response Body Attribute Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Body Attribute Size",
          "sensitive" : false
        },
        "SSL Context Service" : {
          "displayName" : "SSL Context Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "SSL Context Service",
          "sensitive" : false
        },
        "Response Generation Required" : {
          "displayName" : "Response Generation Required",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Generation Required",
          "sensitive" : false
        },
        "Request User-Agent" : {
          "displayName" : "Request User-Agent",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request User-Agent",
          "sensitive" : false
        },
        "Response Header Request Attributes Enabled" : {
          "displayName" : "Response Header Request Attributes Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Header Request Attributes Enabled",
          "sensitive" : false
        },
        "HTTP Method" : {
          "displayName" : "HTTP Method",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "HTTP Method",
          "sensitive" : false
        },
        "Request Username" : {
          "displayName" : "Request Username",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Username",
          "sensitive" : false
        },
        "Request Content-Type" : {
          "displayName" : "Request Content-Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Content-Type",
          "sensitive" : false
        },
        "Response Body Attribute Name" : {
          "displayName" : "Response Body Attribute Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Body Attribute Name",
          "sensitive" : false
        },
        "Request Digest Authentication Enabled" : {
          "displayName" : "Request Digest Authentication Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Digest Authentication Enabled",
          "sensitive" : false
        },
        "Request Multipart Form-Data Name" : {
          "displayName" : "Request Multipart Form-Data Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Multipart Form-Data Name",
          "sensitive" : false
        },
        "Response Cache Size" : {
          "displayName" : "Response Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Cache Size",
          "sensitive" : false
        },
        "Response Body Ignored" : {
          "displayName" : "Response Body Ignored",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Body Ignored",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2025.7.15.16"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "3c068492-efcd-3f24-b55a-d0d1f2304e23",
      "maxBackoffPeriod" : "10 mins",
      "name" : "InvokeHTTP",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 1192.0,
        "y" : 928.0
      },
      "properties" : {
        "Request Content-Encoding" : "DISABLED",
        "Request Multipart Form-Data Filename Enabled" : "true",
        "Request Chunked Transfer-Encoding Enabled" : "false",
        "HTTP/2 Disabled" : "False",
        "Connection Timeout" : "5 secs",
        "Response Cookie Strategy" : "DISABLED",
        "Socket Read Timeout" : "15 secs",
        "Socket Idle Connections" : "5",
        "Request Body Enabled" : "true",
        "OAuth2 Access Token Refresh Strategy" : "ON_TOKEN_EXPIRATION",
        "Socket Idle Timeout" : "5 mins",
        "Response Redirects Enabled" : "True",
        "Socket Write Timeout" : "15 secs",
        "Response FlowFile Naming Strategy" : "RANDOM",
        "Response Cache Enabled" : "false",
        "Request Date Header Enabled" : "True",
        "Request Failure Penalization Enabled" : "false",
        "Response Body Attribute Size" : "256",
        "Response Generation Required" : "false",
        "Response Header Request Attributes Enabled" : "false",
        "HTTP Method" : "GET",
        "Request Content-Type" : "${mime.type}",
        "Request Digest Authentication Enabled" : "false",
        "Response Cache Size" : "10MB",
        "Response Body Ignored" : "false"
      },
      "propertyDescriptors" : {
        "Request Content-Encoding" : {
          "displayName" : "Request Content-Encoding",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Content-Encoding",
          "sensitive" : false
        },
        "proxy-configuration-service" : {
          "displayName" : "Proxy Configuration Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "proxy-configuration-service",
          "sensitive" : false
        },
        "Request Multipart Form-Data Filename Enabled" : {
          "displayName" : "Request Multipart Form-Data Filename Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Multipart Form-Data Filename Enabled",
          "sensitive" : false
        },
        "Request Chunked Transfer-Encoding Enabled" : {
          "displayName" : "Request Chunked Transfer-Encoding Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Chunked Transfer-Encoding Enabled",
          "sensitive" : false
        },
        "Response Header Request Attributes Prefix" : {
          "displayName" : "Response Header Request Attributes Prefix",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Header Request Attributes Prefix",
          "sensitive" : false
        },
        "HTTP/2 Disabled" : {
          "displayName" : "HTTP/2 Disabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "HTTP/2 Disabled",
          "sensitive" : false
        },
        "Connection Timeout" : {
          "displayName" : "Connection Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Connection Timeout",
          "sensitive" : false
        },
        "Response Cookie Strategy" : {
          "displayName" : "Response Cookie Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Cookie Strategy",
          "sensitive" : false
        },
        "Request Password" : {
          "displayName" : "Request Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Password",
          "sensitive" : true
        },
        "Socket Read Timeout" : {
          "displayName" : "Socket Read Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Socket Read Timeout",
          "sensitive" : false
        },
        "Socket Idle Connections" : {
          "displayName" : "Socket Idle Connections",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Socket Idle Connections",
          "sensitive" : false
        },
        "Request Body Enabled" : {
          "displayName" : "Request Body Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Body Enabled",
          "sensitive" : false
        },
        "OAuth2 Access Token Refresh Strategy" : {
          "displayName" : "OAuth2 Access Token Refresh Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "OAuth2 Access Token Refresh Strategy",
          "sensitive" : false
        },
        "HTTP URL" : {
          "displayName" : "HTTP URL",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "HTTP URL",
          "sensitive" : false
        },
        "Request OAuth2 Access Token Provider" : {
          "displayName" : "Request OAuth2 Access Token Provider",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Request OAuth2 Access Token Provider",
          "sensitive" : false
        },
        "Socket Idle Timeout" : {
          "displayName" : "Socket Idle Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Socket Idle Timeout",
          "sensitive" : false
        },
        "Response Redirects Enabled" : {
          "displayName" : "Response Redirects Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Redirects Enabled",
          "sensitive" : false
        },
        "Socket Write Timeout" : {
          "displayName" : "Socket Write Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Socket Write Timeout",
          "sensitive" : false
        },
        "Request Header Attributes Pattern" : {
          "displayName" : "Request Header Attributes Pattern",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Header Attributes Pattern",
          "sensitive" : false
        },
        "Response FlowFile Naming Strategy" : {
          "displayName" : "Response FlowFile Naming Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response FlowFile Naming Strategy",
          "sensitive" : false
        },
        "Response Cache Enabled" : {
          "displayName" : "Response Cache Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Cache Enabled",
          "sensitive" : false
        },
        "Request Date Header Enabled" : {
          "displayName" : "Request Date Header Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Date Header Enabled",
          "sensitive" : false
        },
        "Request Failure Penalization Enabled" : {
          "displayName" : "Request Failure Penalization Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Failure Penalization Enabled",
          "sensitive" : false
        },
        "Response Body Attribute Size" : {
          "displayName" : "Response Body Attribute Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Body Attribute Size",
          "sensitive" : false
        },
        "SSL Context Service" : {
          "displayName" : "SSL Context Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "SSL Context Service",
          "sensitive" : false
        },
        "Response Generation Required" : {
          "displayName" : "Response Generation Required",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Generation Required",
          "sensitive" : false
        },
        "Request User-Agent" : {
          "displayName" : "Request User-Agent",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request User-Agent",
          "sensitive" : false
        },
        "Response Header Request Attributes Enabled" : {
          "displayName" : "Response Header Request Attributes Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Header Request Attributes Enabled",
          "sensitive" : false
        },
        "HTTP Method" : {
          "displayName" : "HTTP Method",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "HTTP Method",
          "sensitive" : false
        },
        "Request Username" : {
          "displayName" : "Request Username",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Username",
          "sensitive" : false
        },
        "Request Content-Type" : {
          "displayName" : "Request Content-Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Content-Type",
          "sensitive" : false
        },
        "Response Body Attribute Name" : {
          "displayName" : "Response Body Attribute Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Body Attribute Name",
          "sensitive" : false
        },
        "Request Digest Authentication Enabled" : {
          "displayName" : "Request Digest Authentication Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Digest Authentication Enabled",
          "sensitive" : false
        },
        "Request Multipart Form-Data Name" : {
          "displayName" : "Request Multipart Form-Data Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Multipart Form-Data Name",
          "sensitive" : false
        },
        "Response Cache Size" : {
          "displayName" : "Response Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Cache Size",
          "sensitive" : false
        },
        "Response Body Ignored" : {
          "displayName" : "Response Body Ignored",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Body Ignored",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "success" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2025.7.15.16"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "6cf4be61-0ff5-30db-81ad-53e947fa6c9d",
      "maxBackoffPeriod" : "10 mins",
      "name" : "LogAttribute",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -728.0,
        "y" : 824.0
      },
      "properties" : {
        "character-set" : "UTF-8",
        "Log FlowFile Properties" : "true",
        "Log Level" : "info",
        "attributes-to-log-regex" : ".*",
        "Output Format" : "Line per Attribute",
        "Log Payload" : "false"
      },
      "propertyDescriptors" : {
        "Log prefix" : {
          "displayName" : "Log prefix",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log prefix",
          "sensitive" : false
        },
        "character-set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "character-set",
          "sensitive" : false
        },
        "Log FlowFile Properties" : {
          "displayName" : "Log FlowFile Properties",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log FlowFile Properties",
          "sensitive" : false
        },
        "Log Level" : {
          "displayName" : "Log Level",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log Level",
          "sensitive" : false
        },
        "attributes-to-ignore-regex" : {
          "displayName" : "Attributes to Ignore by Regular Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "attributes-to-ignore-regex",
          "sensitive" : false
        },
        "Attributes to Ignore" : {
          "displayName" : "Attributes to Ignore",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attributes to Ignore",
          "sensitive" : false
        },
        "Attributes to Log" : {
          "displayName" : "Attributes to Log",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attributes to Log",
          "sensitive" : false
        },
        "attributes-to-log-regex" : {
          "displayName" : "Attributes to Log by Regular Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "attributes-to-log-regex",
          "sensitive" : false
        },
        "Output Format" : {
          "displayName" : "Output Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Output Format",
          "sensitive" : false
        },
        "Log Payload" : {
          "displayName" : "Log Payload",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log Payload",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.LogAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "runtime-salesforce-processors-nar",
        "group" : "com.snowflake.openflow.runtime",
        "version" : "2025.7.15.16"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "877a835c-b5a0-3905-ae67-f9b33ea3e3bc",
      "maxBackoffPeriod" : "10 mins",
      "name" : "AbortQueryJob",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -904.0,
        "y" : -320.0
      },
      "properties" : {
        "Job ID" : "${jobId}"
      },
      "propertyDescriptors" : {
        "Job ID" : {
          "displayName" : "Job ID",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Job ID",
          "sensitive" : false
        },
        "Salesforce Client" : {
          "displayName" : "Salesforce Client",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Salesforce Client",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "com.snowflake.openflow.runtime.processors.salesforce.AbortQueryJob",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-aws-nar",
        "group" : "org.apache.nifi",
        "version" : "2025.7.15.16"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "PRIMARY",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "8fb61a37-beb1-3b3c-ac29-5c65b7a807d1",
      "maxBackoffPeriod" : "10 mins",
      "name" : "ListS3",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -410.0,
        "y" : -178.0
      },
      "properties" : {
        "list-type" : "1",
        "et-initial-listing-target" : "all",
        "prefix" : "shantanu/",
        "et-time-window" : "3 hours",
        "requester-pays" : "false",
        "listing-strategy" : "timestamps",
        "Signer Override" : "Default Signature",
        "delimiter" : "/",
        "min-age" : "0 sec",
        "write-s3-user-metadata" : "false",
        "AWS Credentials Provider service" : "dd32ac99-4c32-37d5-b836-95e7d11b7f5f",
        "Listing Batch Size" : "100",
        "write-s3-object-tags" : "false",
        "Bucket" : "shaandemo-openflow",
        "Communications Timeout" : "30 secs",
        "Region" : "us-east-1",
        "use-versions" : "false"
      },
      "propertyDescriptors" : {
        "list-type" : {
          "displayName" : "List Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "list-type",
          "sensitive" : false
        },
        "et-initial-listing-target" : {
          "displayName" : "Entity Tracking Initial Listing Target",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "et-initial-listing-target",
          "sensitive" : false
        },
        "prefix" : {
          "displayName" : "Prefix",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "prefix",
          "sensitive" : false
        },
        "record-writer" : {
          "displayName" : "Record Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "record-writer",
          "sensitive" : false
        },
        "proxy-configuration-service" : {
          "displayName" : "Proxy Configuration Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "proxy-configuration-service",
          "sensitive" : false
        },
        "Endpoint Override URL" : {
          "displayName" : "Endpoint Override URL",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Endpoint Override URL",
          "sensitive" : false
        },
        "et-time-window" : {
          "displayName" : "Entity Tracking Time Window",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "et-time-window",
          "sensitive" : false
        },
        "custom-signer-class-name" : {
          "displayName" : "Custom Signer Class Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "custom-signer-class-name",
          "sensitive" : false
        },
        "requester-pays" : {
          "displayName" : "Requester Pays",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "requester-pays",
          "sensitive" : false
        },
        "custom-signer-module-location" : {
          "displayName" : "Custom Signer Module Location",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "custom-signer-module-location",
          "resourceDefinition" : {
            "cardinality" : "MULTIPLE",
            "resourceTypes" : [ "DIRECTORY", "FILE" ]
          },
          "sensitive" : false
        },
        "listing-strategy" : {
          "displayName" : "Listing Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "listing-strategy",
          "sensitive" : false
        },
        "Signer Override" : {
          "displayName" : "Signer Override",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Signer Override",
          "sensitive" : false
        },
        "delimiter" : {
          "displayName" : "Delimiter",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "delimiter",
          "sensitive" : false
        },
        "min-age" : {
          "displayName" : "Minimum Object Age",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "min-age",
          "sensitive" : false
        },
        "write-s3-user-metadata" : {
          "displayName" : "Write User Metadata",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "write-s3-user-metadata",
          "sensitive" : false
        },
        "max-age" : {
          "displayName" : "Maximum Object Age",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "max-age",
          "sensitive" : false
        },
        "AWS Credentials Provider service" : {
          "displayName" : "AWS Credentials Provider Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "AWS Credentials Provider service",
          "sensitive" : false
        },
        "Listing Batch Size" : {
          "displayName" : "Listing Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Listing Batch Size",
          "sensitive" : false
        },
        "SSL Context Service" : {
          "displayName" : "SSL Context Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "SSL Context Service",
          "sensitive" : false
        },
        "write-s3-object-tags" : {
          "displayName" : "Write Object Tags",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "write-s3-object-tags",
          "sensitive" : false
        },
        "Bucket" : {
          "displayName" : "Bucket",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Bucket",
          "sensitive" : false
        },
        "Communications Timeout" : {
          "displayName" : "Communications Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Communications Timeout",
          "sensitive" : false
        },
        "Region" : {
          "displayName" : "Region",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Region",
          "sensitive" : false
        },
        "et-state-cache" : {
          "displayName" : "Entity Tracking State Cache",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "et-state-cache",
          "sensitive" : false
        },
        "use-versions" : {
          "displayName" : "Use Versions",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "use-versions",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "1 min",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.aws.s3.ListS3",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "runtime-snowpipe-processors-nar",
        "group" : "com.snowflake.openflow.runtime",
        "version" : "2025.7.15.16"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "95745bdb-0376-35b4-a007-f8ce9f12790e",
      "maxBackoffPeriod" : "10 mins",
      "name" : "PutSnowpipeStreaming",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -251.43444851381616,
        "y" : 831.2048818707059
      },
      "properties" : {
        "Account" : "SFSENORTHAMERICA-SGOPE_AWS1",
        "User" : "openflow_svc",
        "Table" : "JSON_LOAD",
        "Max Batch Size" : "10000",
        "Schema" : "S3_LOAD",
        "Max Tasks Per Group" : "1",
        "Record Reader" : "ac5223df-8cde-3e45-9fe9-db3070b4e585",
        "Iceberg Enabled" : "false",
        "Private Key Service" : "03717487-c630-32c8-8917-7cc5563f81c5",
        "Connection Strategy" : "STANDARD",
        "Role" : "openflow_role_rw",
        "Snowpipe Channel Prefix" : "${hostname(false)}",
        "Client Lag" : "1 sec",
        "Authentication Strategy" : "KEY_PAIR",
        "Delivery Guarantee" : "At least once",
        "Database" : "openflow_load"
      },
      "propertyDescriptors" : {
        "Account" : {
          "displayName" : "Account",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Account",
          "sensitive" : false
        },
        "User" : {
          "displayName" : "User",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "User",
          "sensitive" : false
        },
        "Table" : {
          "displayName" : "Table",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Table",
          "sensitive" : false
        },
        "Concurrency Group" : {
          "displayName" : "Concurrency Group",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Concurrency Group",
          "sensitive" : false
        },
        "Max Batch Size" : {
          "displayName" : "Max Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Batch Size",
          "sensitive" : false
        },
        "Schema" : {
          "displayName" : "Schema",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema",
          "sensitive" : false
        },
        "Max Tasks Per Group" : {
          "displayName" : "Max Tasks Per Group",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Tasks Per Group",
          "sensitive" : false
        },
        "Record Offset" : {
          "displayName" : "Record Offset",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Record Offset",
          "sensitive" : false
        },
        "Record Reader" : {
          "displayName" : "Record Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Record Reader",
          "sensitive" : false
        },
        "Iceberg Enabled" : {
          "displayName" : "Iceberg Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Iceberg Enabled",
          "sensitive" : false
        },
        "Snowpipe Channel Index" : {
          "displayName" : "Snowpipe Channel Index",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Snowpipe Channel Index",
          "sensitive" : false
        },
        "Private Key Service" : {
          "displayName" : "Private Key Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Private Key Service",
          "sensitive" : false
        },
        "Connection Strategy" : {
          "displayName" : "Connection Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Connection Strategy",
          "sensitive" : false
        },
        "Role" : {
          "displayName" : "Role",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Role",
          "sensitive" : false
        },
        "Record Offset Strategy" : {
          "displayName" : "Record Offset Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Record Offset Strategy",
          "sensitive" : false
        },
        "Snowpipe Channel Prefix" : {
          "displayName" : "Snowpipe Channel Prefix",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Snowpipe Channel Prefix",
          "sensitive" : false
        },
        "Client Lag" : {
          "displayName" : "Client Lag",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Client Lag",
          "sensitive" : false
        },
        "Authentication Strategy" : {
          "displayName" : "Authentication Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Authentication Strategy",
          "sensitive" : false
        },
        "Delivery Guarantee" : {
          "displayName" : "Delivery Guarantee",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Delivery Guarantee",
          "sensitive" : false
        },
        "Record Offset Record Path" : {
          "displayName" : "Record Offset Record Path",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Record Offset Record Path",
          "sensitive" : false
        },
        "Database" : {
          "displayName" : "Database",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "com.snowflake.openflow.runtime.processors.snowpipe.PutSnowpipeStreaming",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "unmatched", "zeroBytes" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2025.7.15.16"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "a4510b98-dc03-3ec5-830b-b2435695f16d",
      "maxBackoffPeriod" : "10 mins",
      "name" : "RouteOnAttribute",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -400.0,
        "y" : 352.0
      },
      "properties" : {
        "Routing Strategy" : "Route to Property name",
        "csvFILES" : "${filename:endsWith('.csv')}",
        "zeroBytes" : "${s3.length:equals(0)}",
        "jsonFiles" : "${filename:endsWith('.json')}"
      },
      "propertyDescriptors" : {
        "Routing Strategy" : {
          "displayName" : "Routing Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Routing Strategy",
          "sensitive" : false
        },
        "csvFILES" : {
          "displayName" : "csvFILES",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "csvFILES",
          "sensitive" : false
        },
        "zeroBytes" : {
          "displayName" : "zeroBytes",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "zeroBytes",
          "sensitive" : false
        },
        "jsonFiles" : {
          "displayName" : "jsonFiles",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "jsonFiles",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "unmatched", "zeroBytes" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2025.7.15.16"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "afabacbf-08ab-3483-8b04-8449f1cdef2f",
      "maxBackoffPeriod" : "10 mins",
      "name" : "RouteOnAttribute",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 1000.0,
        "y" : 136.0
      },
      "properties" : {
        "Routing Strategy" : "Route to Property name",
        "csvFiles" : "${filename:endsWith('.csv')}",
        "zeroBytes" : "${s3.length:equals(0)}"
      },
      "propertyDescriptors" : {
        "Routing Strategy" : {
          "displayName" : "Routing Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Routing Strategy",
          "sensitive" : false
        },
        "csvFiles" : {
          "displayName" : "csvFiles",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "csvFiles",
          "sensitive" : false
        },
        "zeroBytes" : {
          "displayName" : "zeroBytes",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "zeroBytes",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "runtime-snowflake-processors-nar",
        "group" : "com.snowflake.openflow.runtime",
        "version" : "2025.7.15.16"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "c8693f05-6e29-3bfe-8203-ae7c76658107",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Create Table",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -312.0,
        "y" : 568.0
      },
      "properties" : {
        "Table Name" : "JSON_LOAD",
        "Table Metadata Cache Expiration Time" : "30 sec",
        "Update Type" : "Create Table If Not Exists",
        "Max Batch Size" : "1",
        "Include Not Null Constraints" : "false",
        "Record Reader" : "ac5223df-8cde-3e45-9fe9-db3070b4e585",
        "Table Schema Strategy" : "Use Record Reader",
        "Schema Name" : "S3_LOAD",
        "Add Column Strategy" : "Alter Table",
        "Use Table Metadata Cache" : "false",
        "Alter Column Type Strategy" : "Fail",
        "Column Removal Strategy" : "Drop Column",
        "Drop Not Null Strategy" : "Alter Table",
        "Add Not Null Strategy" : "Alter Table",
        "Create Stream" : "false",
        "Modify Primary Key Strategy" : "Alter Table",
        "Drop Column Strategy" : "Alter Table",
        "Connection Pool" : "dd79397d-0f5c-33b8-af7f-bd3e3809c994",
        "Include Primary Key Constraints" : "false"
      },
      "propertyDescriptors" : {
        "Table Name" : {
          "displayName" : "Table Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Table Name",
          "sensitive" : false
        },
        "Table Metadata Cache Expiration Time" : {
          "displayName" : "Table Metadata Cache Expiration Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Table Metadata Cache Expiration Time",
          "sensitive" : false
        },
        "Update Type" : {
          "displayName" : "Update Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Update Type",
          "sensitive" : false
        },
        "Max Batch Size" : {
          "displayName" : "Max Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Batch Size",
          "sensitive" : false
        },
        "Include Not Null Constraints" : {
          "displayName" : "Include Not Null Constraints",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Include Not Null Constraints",
          "sensitive" : false
        },
        "Stream Creation Parameters" : {
          "displayName" : "Stream Creation Parameters",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Stream Creation Parameters",
          "sensitive" : false
        },
        "Removed Column Name Suffix" : {
          "displayName" : "Removed Column Name Suffix",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Removed Column Name Suffix",
          "sensitive" : false
        },
        "Table Stream Creation Parameters" : {
          "displayName" : "Table Stream Creation Parameters",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Table Stream Creation Parameters",
          "sensitive" : false
        },
        "Stream Name" : {
          "displayName" : "Stream Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Stream Name",
          "sensitive" : false
        },
        "Record Reader" : {
          "displayName" : "Record Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Record Reader",
          "sensitive" : false
        },
        "Desired Schema" : {
          "displayName" : "Desired Schema",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Desired Schema",
          "sensitive" : false
        },
        "Table Schema Strategy" : {
          "displayName" : "Table Schema Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Table Schema Strategy",
          "sensitive" : false
        },
        "Schema Name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Name",
          "sensitive" : false
        },
        "Add Column Strategy" : {
          "displayName" : "Add Column Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Add Column Strategy",
          "sensitive" : false
        },
        "Table Stream Name" : {
          "displayName" : "Table Stream Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Table Stream Name",
          "sensitive" : false
        },
        "Use Table Metadata Cache" : {
          "displayName" : "Use Table Metadata Cache",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Use Table Metadata Cache",
          "sensitive" : false
        },
        "Alter Column Type Strategy" : {
          "displayName" : "Alter Column Type Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Alter Column Type Strategy",
          "sensitive" : false
        },
        "Column Removal Strategy" : {
          "displayName" : "Column Removal Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Column Removal Strategy",
          "sensitive" : false
        },
        "Column Name Transformation" : {
          "displayName" : "Column Name Transformation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Column Name Transformation",
          "sensitive" : false
        },
        "Drop Not Null Strategy" : {
          "displayName" : "Drop Not Null Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Drop Not Null Strategy",
          "sensitive" : false
        },
        "Add Not Null Strategy" : {
          "displayName" : "Add Not Null Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Add Not Null Strategy",
          "sensitive" : false
        },
        "Creation Parameters" : {
          "displayName" : "Creation Parameters",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Creation Parameters",
          "sensitive" : false
        },
        "Create Stream" : {
          "displayName" : "Create Stream",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Create Stream",
          "sensitive" : false
        },
        "Modify Primary Key Strategy" : {
          "displayName" : "Modify Primary Key Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Modify Primary Key Strategy",
          "sensitive" : false
        },
        "Drop Column Strategy" : {
          "displayName" : "Drop Column Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Drop Column Strategy",
          "sensitive" : false
        },
        "Connection Pool" : {
          "displayName" : "Connection Pool",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Connection Pool",
          "sensitive" : false
        },
        "Include Primary Key Constraints" : {
          "displayName" : "Include Primary Key Constraints",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Include Primary Key Constraints",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ "failure" ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "com.snowflake.openflow.runtime.processors.snowflake.UpdateSnowflakeDatabase",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-slack-nar",
        "group" : "org.apache.nifi",
        "version" : "2025.7.15.16"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "c9fd7651-b783-35af-aa89-baca8f4fc40d",
      "maxBackoffPeriod" : "10 mins",
      "name" : "PublishSlack",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 1168.0,
        "y" : 560.0
      },
      "properties" : {
        "Max FlowFile Size" : "1 MB",
        "Publish Strategy" : "Send FlowFile Content as Message",
        "Character Set" : "UTF-8",
        "Include FlowFile Content as Attachment" : "false"
      },
      "propertyDescriptors" : {
        "Max FlowFile Size" : {
          "displayName" : "Max FlowFile Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max FlowFile Size",
          "sensitive" : false
        },
        "Thread Timestamp" : {
          "displayName" : "Thread Timestamp",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Thread Timestamp",
          "sensitive" : false
        },
        "Methods Endpoint Url Prefix" : {
          "displayName" : "Methods Endpoint Url Prefix",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Methods Endpoint Url Prefix",
          "sensitive" : false
        },
        "Publish Strategy" : {
          "displayName" : "Publish Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Publish Strategy",
          "sensitive" : false
        },
        "Channel" : {
          "displayName" : "Channel",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Channel",
          "sensitive" : false
        },
        "Access Token" : {
          "displayName" : "Access Token",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Access Token",
          "sensitive" : true
        },
        "Message Text" : {
          "displayName" : "Message Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Message Text",
          "sensitive" : false
        },
        "Character Set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Character Set",
          "sensitive" : false
        },
        "Include FlowFile Content as Attachment" : {
          "displayName" : "Include FlowFile Content as Attachment",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Include FlowFile Content as Attachment",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.slack.PublishSlack",
      "yieldDuration" : "3 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2025.7.15.16"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "cd1d8ba0-e19b-3c92-90bb-6ddbd0b7cd50",
      "maxBackoffPeriod" : "10 mins",
      "name" : "PutEmail",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 1168.0,
        "y" : 368.0
      },
      "properties" : {
        "SMTP Socket Factory" : "javax.net.ssl.SSLSocketFactory",
        "Attach File" : "false",
        "input-character-set" : "UTF-8",
        "SMTP Port" : "25",
        "SMTP Auth" : "true",
        "Include All Attributes In Message" : "false",
        "Subject" : "Message from NiFi",
        "SMTP X-Mailer Header" : "NiFi",
        "Content Type" : "text/plain",
        "email-ff-content-as-message" : "false",
        "authorization-mode" : "password-based-authorization-mode",
        "SMTP TLS" : "false"
      },
      "propertyDescriptors" : {
        "CC" : {
          "displayName" : "CC",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "CC",
          "sensitive" : false
        },
        "Reply-To" : {
          "displayName" : "Reply-To",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Reply-To",
          "sensitive" : false
        },
        "SMTP Socket Factory" : {
          "displayName" : "SMTP Socket Factory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Socket Factory",
          "sensitive" : false
        },
        "BCC" : {
          "displayName" : "BCC",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "BCC",
          "sensitive" : false
        },
        "Message" : {
          "displayName" : "Message",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Message",
          "sensitive" : false
        },
        "Attach File" : {
          "displayName" : "Attach File",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attach File",
          "sensitive" : false
        },
        "attribute-name-regex" : {
          "displayName" : "Attributes to Send as Headers (Regex)",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "attribute-name-regex",
          "sensitive" : false
        },
        "input-character-set" : {
          "displayName" : "Input Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "input-character-set",
          "sensitive" : false
        },
        "SMTP Port" : {
          "displayName" : "SMTP Port",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Port",
          "sensitive" : false
        },
        "SMTP Auth" : {
          "displayName" : "SMTP Auth",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Auth",
          "sensitive" : false
        },
        "From" : {
          "displayName" : "From",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "From",
          "sensitive" : false
        },
        "Include All Attributes In Message" : {
          "displayName" : "Include All Attributes In Message",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Include All Attributes In Message",
          "sensitive" : false
        },
        "SMTP Hostname" : {
          "displayName" : "SMTP Hostname",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Hostname",
          "sensitive" : false
        },
        "Subject" : {
          "displayName" : "Subject",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Subject",
          "sensitive" : false
        },
        "SMTP X-Mailer Header" : {
          "displayName" : "SMTP X-Mailer Header",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP X-Mailer Header",
          "sensitive" : false
        },
        "oauth2-access-token-provider" : {
          "displayName" : "OAuth2 Access Token Provider",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "oauth2-access-token-provider",
          "sensitive" : false
        },
        "Content Type" : {
          "displayName" : "Content Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Content Type",
          "sensitive" : false
        },
        "SMTP Username" : {
          "displayName" : "SMTP Username",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Username",
          "sensitive" : false
        },
        "To" : {
          "displayName" : "To",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "To",
          "sensitive" : false
        },
        "SMTP Password" : {
          "displayName" : "SMTP Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Password",
          "sensitive" : true
        },
        "email-ff-content-as-message" : {
          "displayName" : "Flow file content as message",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "email-ff-content-as-message",
          "sensitive" : false
        },
        "authorization-mode" : {
          "displayName" : "Authorization Mode",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "authorization-mode",
          "sensitive" : false
        },
        "SMTP TLS" : {
          "displayName" : "SMTP STARTTLS",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP TLS",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.PutEmail",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-aws-nar",
        "group" : "org.apache.nifi",
        "version" : "2025.7.15.16"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "dc074388-3190-35cf-9854-e9c1b370e0d3",
      "maxBackoffPeriod" : "10 mins",
      "name" : "FetchS3Object",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -357.0,
        "y" : 104.0
      },
      "properties" : {
        "requester-pays" : "false",
        "Object Key" : "${filename}",
        "AWS Credentials Provider service" : "dd32ac99-4c32-37d5-b836-95e7d11b7f5f",
        "Signer Override" : "Default Signature",
        "Bucket" : "${s3.bucket}",
        "Communications Timeout" : "30 secs",
        "Region" : "us-east-1"
      },
      "propertyDescriptors" : {
        "range-length" : {
          "displayName" : "Range Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "range-length",
          "sensitive" : false
        },
        "range-start" : {
          "displayName" : "Range Start",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "range-start",
          "sensitive" : false
        },
        "proxy-configuration-service" : {
          "displayName" : "Proxy Configuration Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "proxy-configuration-service",
          "sensitive" : false
        },
        "Endpoint Override URL" : {
          "displayName" : "Endpoint Override URL",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Endpoint Override URL",
          "sensitive" : false
        },
        "custom-signer-class-name" : {
          "displayName" : "Custom Signer Class Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "custom-signer-class-name",
          "sensitive" : false
        },
        "requester-pays" : {
          "displayName" : "Requester Pays",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "requester-pays",
          "sensitive" : false
        },
        "Object Key" : {
          "displayName" : "Object Key",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Object Key",
          "sensitive" : false
        },
        "AWS Credentials Provider service" : {
          "displayName" : "AWS Credentials Provider Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "AWS Credentials Provider service",
          "sensitive" : false
        },
        "custom-signer-module-location" : {
          "displayName" : "Custom Signer Module Location",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "custom-signer-module-location",
          "resourceDefinition" : {
            "cardinality" : "MULTIPLE",
            "resourceTypes" : [ "DIRECTORY", "FILE" ]
          },
          "sensitive" : false
        },
        "SSL Context Service" : {
          "displayName" : "SSL Context Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "SSL Context Service",
          "sensitive" : false
        },
        "Signer Override" : {
          "displayName" : "Signer Override",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Signer Override",
          "sensitive" : false
        },
        "Bucket" : {
          "displayName" : "Bucket",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Bucket",
          "sensitive" : false
        },
        "Version" : {
          "displayName" : "Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Version",
          "sensitive" : false
        },
        "Communications Timeout" : {
          "displayName" : "Communications Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Communications Timeout",
          "sensitive" : false
        },
        "Region" : {
          "displayName" : "Region",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Region",
          "sensitive" : false
        },
        "encryption-service" : {
          "displayName" : "Encryption Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "encryption-service",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ "failure" ],
      "retryCount" : 3,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.aws.s3.FetchS3Object",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-cipher-nar",
        "group" : "org.apache.nifi",
        "version" : "2025.7.15.16"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "df733f6f-60bb-3f1c-ab67-59978b872a50",
      "maxBackoffPeriod" : "10 mins",
      "name" : "DecryptContentAge",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 744.0,
        "y" : -56.0
      },
      "properties" : {
        "Private Key Source" : "PROPERTIES"
      },
      "propertyDescriptors" : {
        "Private Key Identity Resources" : {
          "displayName" : "Private Key Identity Resources",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Private Key Identity Resources",
          "resourceDefinition" : {
            "cardinality" : "MULTIPLE",
            "resourceTypes" : [ "FILE", "URL" ]
          },
          "sensitive" : false
        },
        "Private Key Identities" : {
          "displayName" : "Private Key Identities",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Private Key Identities",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "TEXT" ]
          },
          "sensitive" : true
        },
        "Private Key Source" : {
          "displayName" : "Private Key Source",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Private Key Source",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.cipher.DecryptContentAge",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "runtime-kafka-nar",
        "group" : "com.snowflake.openflow.runtime",
        "version" : "2025.7.15.16"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "e4c97e9f-17ff-3986-accb-aba537c385af",
      "maxBackoffPeriod" : "10 mins",
      "name" : "PublishKafka",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 1184.0,
        "y" : 744.0
      },
      "properties" : {
        "compression.type" : "none",
        "acks" : "all",
        "Kafka Key Attribute Encoding" : "utf-8",
        "Record Metadata Strategy" : "FROM_PROPERTIES",
        "Header Encoding" : "UTF-8",
        "max.request.size" : "1 MB",
        "Publish Strategy" : "USE_VALUE",
        "Failure Strategy" : "Route to Failure",
        "partitioner.class" : "org.apache.kafka.clients.producer.internals.DefaultPartitioner",
        "Transactions Enabled" : "true"
      },
      "propertyDescriptors" : {
        "compression.type" : {
          "displayName" : "Compression Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "compression.type",
          "sensitive" : false
        },
        "acks" : {
          "displayName" : "Delivery Guarantee",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "acks",
          "sensitive" : false
        },
        "Message Demarcator" : {
          "displayName" : "Message Demarcator",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Message Demarcator",
          "sensitive" : false
        },
        "Kafka Key Attribute Encoding" : {
          "displayName" : "Kafka Key Attribute Encoding",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Kafka Key Attribute Encoding",
          "sensitive" : false
        },
        "Record Reader" : {
          "displayName" : "Record Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Record Reader",
          "sensitive" : false
        },
        "Record Metadata Strategy" : {
          "displayName" : "Record Metadata Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Record Metadata Strategy",
          "sensitive" : false
        },
        "Transactional ID Prefix" : {
          "displayName" : "Transactional ID Prefix",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Transactional ID Prefix",
          "sensitive" : false
        },
        "Header Encoding" : {
          "displayName" : "Header Encoding",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Header Encoding",
          "sensitive" : false
        },
        "max.request.size" : {
          "displayName" : "Max Request Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "max.request.size",
          "sensitive" : false
        },
        "Topic Name" : {
          "displayName" : "Topic Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Topic Name",
          "sensitive" : false
        },
        "Kafka Key" : {
          "displayName" : "Kafka Key",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Kafka Key",
          "sensitive" : false
        },
        "partition" : {
          "displayName" : "Partition",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "partition",
          "sensitive" : false
        },
        "Kafka Connection Service" : {
          "displayName" : "Kafka Connection Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Kafka Connection Service",
          "sensitive" : false
        },
        "Publish Strategy" : {
          "displayName" : "Publish Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Publish Strategy",
          "sensitive" : false
        },
        "Record Key Writer" : {
          "displayName" : "Record Key Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Record Key Writer",
          "sensitive" : false
        },
        "Failure Strategy" : {
          "displayName" : "Failure Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Failure Strategy",
          "sensitive" : false
        },
        "partitioner.class" : {
          "displayName" : "Partitioner Class",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "partitioner.class",
          "sensitive" : false
        },
        "Record Writer" : {
          "displayName" : "Record Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Record Writer",
          "sensitive" : false
        },
        "Transactions Enabled" : {
          "displayName" : "Transactions Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Transactions Enabled",
          "sensitive" : false
        },
        "Message Key Field" : {
          "displayName" : "Message Key Field",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Message Key Field",
          "sensitive" : false
        },
        "FlowFile Attribute Header Pattern" : {
          "displayName" : "FlowFile Attribute Header Pattern",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "FlowFile Attribute Header Pattern",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "com.snowflake.openflow.runtime.processors.kafka.PublishKafka",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "success" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "runtime-snowpipe-processors-nar",
        "group" : "com.snowflake.openflow.runtime",
        "version" : "2025.7.15.16"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "f0b0daea-e90c-3db5-8a7b-21c5264269c5",
      "maxBackoffPeriod" : "10 mins",
      "name" : "PutSnowpipeStreaming",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 424.0,
        "y" : 808.0
      },
      "properties" : {
        "Account" : "SFSENORTHAMERICA-SGOPE_AWS1",
        "User" : "openflow_svc",
        "Table" : "CSV_LOAD",
        "Max Batch Size" : "10000",
        "Schema" : "S3_LOAD",
        "Max Tasks Per Group" : "1",
        "Record Reader" : "eb99bc03-1842-3f31-a5a7-adc0f8603d83",
        "Iceberg Enabled" : "false",
        "Private Key Service" : "03717487-c630-32c8-8917-7cc5563f81c5",
        "Connection Strategy" : "STANDARD",
        "Role" : "openflow_role_rw",
        "Snowpipe Channel Prefix" : "${hostname(false)}",
        "Client Lag" : "1 sec",
        "Authentication Strategy" : "KEY_PAIR",
        "Delivery Guarantee" : "At least once",
        "Database" : "openflow_load"
      },
      "propertyDescriptors" : {
        "Account" : {
          "displayName" : "Account",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Account",
          "sensitive" : false
        },
        "User" : {
          "displayName" : "User",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "User",
          "sensitive" : false
        },
        "Table" : {
          "displayName" : "Table",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Table",
          "sensitive" : false
        },
        "Concurrency Group" : {
          "displayName" : "Concurrency Group",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Concurrency Group",
          "sensitive" : false
        },
        "Max Batch Size" : {
          "displayName" : "Max Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Batch Size",
          "sensitive" : false
        },
        "Schema" : {
          "displayName" : "Schema",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema",
          "sensitive" : false
        },
        "Max Tasks Per Group" : {
          "displayName" : "Max Tasks Per Group",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Tasks Per Group",
          "sensitive" : false
        },
        "Record Offset" : {
          "displayName" : "Record Offset",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Record Offset",
          "sensitive" : false
        },
        "Record Reader" : {
          "displayName" : "Record Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Record Reader",
          "sensitive" : false
        },
        "Iceberg Enabled" : {
          "displayName" : "Iceberg Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Iceberg Enabled",
          "sensitive" : false
        },
        "Snowpipe Channel Index" : {
          "displayName" : "Snowpipe Channel Index",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Snowpipe Channel Index",
          "sensitive" : false
        },
        "Private Key Service" : {
          "displayName" : "Private Key Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Private Key Service",
          "sensitive" : false
        },
        "Connection Strategy" : {
          "displayName" : "Connection Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Connection Strategy",
          "sensitive" : false
        },
        "Role" : {
          "displayName" : "Role",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Role",
          "sensitive" : false
        },
        "Record Offset Strategy" : {
          "displayName" : "Record Offset Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Record Offset Strategy",
          "sensitive" : false
        },
        "Snowpipe Channel Prefix" : {
          "displayName" : "Snowpipe Channel Prefix",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Snowpipe Channel Prefix",
          "sensitive" : false
        },
        "Client Lag" : {
          "displayName" : "Client Lag",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Client Lag",
          "sensitive" : false
        },
        "Authentication Strategy" : {
          "displayName" : "Authentication Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Authentication Strategy",
          "sensitive" : false
        },
        "Delivery Guarantee" : {
          "displayName" : "Delivery Guarantee",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Delivery Guarantee",
          "sensitive" : false
        },
        "Record Offset Record Path" : {
          "displayName" : "Record Offset Record Path",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Record Offset Record Path",
          "sensitive" : false
        },
        "Database" : {
          "displayName" : "Database",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "com.snowflake.openflow.runtime.processors.snowpipe.PutSnowpipeStreaming",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "runtime-snowflake-processors-nar",
        "group" : "com.snowflake.openflow.runtime",
        "version" : "2025.7.15.16"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "f91bca02-e793-364a-9aac-8519c5291099",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Create CSV Table",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 392.0,
        "y" : 576.0
      },
      "properties" : {
        "Table Name" : "CSV_LOAD",
        "Table Metadata Cache Expiration Time" : "30 sec",
        "Update Type" : "Create Table If Not Exists",
        "Max Batch Size" : "1",
        "Include Not Null Constraints" : "false",
        "Record Reader" : "eb99bc03-1842-3f31-a5a7-adc0f8603d83",
        "Table Schema Strategy" : "Use Record Reader",
        "Schema Name" : "S3_LOAD",
        "Add Column Strategy" : "Alter Table",
        "Use Table Metadata Cache" : "false",
        "Alter Column Type Strategy" : "Fail",
        "Column Removal Strategy" : "Drop Column",
        "Drop Not Null Strategy" : "Alter Table",
        "Add Not Null Strategy" : "Alter Table",
        "Create Stream" : "false",
        "Modify Primary Key Strategy" : "Alter Table",
        "Drop Column Strategy" : "Alter Table",
        "Connection Pool" : "dd79397d-0f5c-33b8-af7f-bd3e3809c994",
        "Include Primary Key Constraints" : "false"
      },
      "propertyDescriptors" : {
        "Table Name" : {
          "displayName" : "Table Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Table Name",
          "sensitive" : false
        },
        "Table Metadata Cache Expiration Time" : {
          "displayName" : "Table Metadata Cache Expiration Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Table Metadata Cache Expiration Time",
          "sensitive" : false
        },
        "Update Type" : {
          "displayName" : "Update Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Update Type",
          "sensitive" : false
        },
        "Max Batch Size" : {
          "displayName" : "Max Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Batch Size",
          "sensitive" : false
        },
        "Include Not Null Constraints" : {
          "displayName" : "Include Not Null Constraints",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Include Not Null Constraints",
          "sensitive" : false
        },
        "Stream Creation Parameters" : {
          "displayName" : "Stream Creation Parameters",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Stream Creation Parameters",
          "sensitive" : false
        },
        "Removed Column Name Suffix" : {
          "displayName" : "Removed Column Name Suffix",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Removed Column Name Suffix",
          "sensitive" : false
        },
        "Table Stream Creation Parameters" : {
          "displayName" : "Table Stream Creation Parameters",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Table Stream Creation Parameters",
          "sensitive" : false
        },
        "Stream Name" : {
          "displayName" : "Stream Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Stream Name",
          "sensitive" : false
        },
        "Record Reader" : {
          "displayName" : "Record Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Record Reader",
          "sensitive" : false
        },
        "Desired Schema" : {
          "displayName" : "Desired Schema",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Desired Schema",
          "sensitive" : false
        },
        "Table Schema Strategy" : {
          "displayName" : "Table Schema Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Table Schema Strategy",
          "sensitive" : false
        },
        "Schema Name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Name",
          "sensitive" : false
        },
        "Add Column Strategy" : {
          "displayName" : "Add Column Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Add Column Strategy",
          "sensitive" : false
        },
        "Table Stream Name" : {
          "displayName" : "Table Stream Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Table Stream Name",
          "sensitive" : false
        },
        "Use Table Metadata Cache" : {
          "displayName" : "Use Table Metadata Cache",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Use Table Metadata Cache",
          "sensitive" : false
        },
        "Alter Column Type Strategy" : {
          "displayName" : "Alter Column Type Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Alter Column Type Strategy",
          "sensitive" : false
        },
        "Column Removal Strategy" : {
          "displayName" : "Column Removal Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Column Removal Strategy",
          "sensitive" : false
        },
        "Column Name Transformation" : {
          "displayName" : "Column Name Transformation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Column Name Transformation",
          "sensitive" : false
        },
        "Drop Not Null Strategy" : {
          "displayName" : "Drop Not Null Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Drop Not Null Strategy",
          "sensitive" : false
        },
        "Add Not Null Strategy" : {
          "displayName" : "Add Not Null Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Add Not Null Strategy",
          "sensitive" : false
        },
        "Creation Parameters" : {
          "displayName" : "Creation Parameters",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Creation Parameters",
          "sensitive" : false
        },
        "Create Stream" : {
          "displayName" : "Create Stream",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Create Stream",
          "sensitive" : false
        },
        "Modify Primary Key Strategy" : {
          "displayName" : "Modify Primary Key Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Modify Primary Key Strategy",
          "sensitive" : false
        },
        "Drop Column Strategy" : {
          "displayName" : "Drop Column Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Drop Column Strategy",
          "sensitive" : false
        },
        "Connection Pool" : {
          "displayName" : "Connection Pool",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Connection Pool",
          "sensitive" : false
        },
        "Include Primary Key Constraints" : {
          "displayName" : "Include Primary Key Constraints",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Include Primary Key Constraints",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ "failure" ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "com.snowflake.openflow.runtime.processors.snowflake.UpdateSnowflakeDatabase",
      "yieldDuration" : "1 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "scheduledState" : "ENABLED",
    "statelessFlowTimeout" : "1 min"
  },
  "flowEncodingVersion" : "1.0",
  "latest" : false,
  "parameterContexts" : { },
  "parameterProviders" : { },
  "snapshotMetadata" : {
    "author" : "SHANTANU.GOPE@SNOWFLAKE.COM",
    "flowIdentifier" : "s3connectloadsnow",
    "timestamp" : 1753725202365
  }
}